*{
    margin: 0;
    padding: 0;
  font-family: 'Quicksand', sans-serif;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}
.grid-container {
	min-height: 100%;
	display: grid;
	font-family: Poppins;
	grid-template-rows: 1fr;
  grid-template-columns: 0.7fr 5fr 5fr;
	grid-template-areas: 'a b c';
}

.item1 {
	grid-area: a;
  background-color: #62b68a;
}
.item2 {
	grid-area: b;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.item3 {
	grid-area: c;
}
.item1,
.item2,
.item3 {
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  list-style: none;
  display: flex; 
  flex-direction: column
}

.item2 > div:nth-of-type(1) > .wrapper {
  flex-direction: row;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.item1 .wrapper a {
  text-align: center;
}
.item1 .wrapper p {
  margin-top: 5px;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
a {
    text-emphasis: none;
    text-decoration: none;
}

.grid-container a {
  color: #000;
}

.right-header {
  margin-right: auto;
  border-top: 5px solid #62b68a;
  border-bottom: 1px solid #62b68a;
  width: 100%;
}
.right-header > div  {
  margin: 20px 20px;
}
.right-header > div > span:nth-of-type(1) {
  font-size: 30px;
  font-weight: 700;
  color: #62b68a;
  margin-right: 10px;
}
.right-header > div > span:nth-of-type(2) {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.item3 {
  display: flex;
}
.right {
  display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;

    grid-gap: 10px; 
    grid-auto-flow: row;
}
.about-me1 {
  padding: 30px 0px 0px 30px;
  margin-bottom: 20px;
  border-right: 1px solid #62b68a;
}
.about-me1 p {
  width: auto;
  line-height: 27px;
}
.about-me2{
  padding: 30px 5px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-me2 > div {
  display: flex;
  justify-content: space-between;
}
.about-me2 > div > span:nth-of-type(1) {
  background-color: #62b68a;
  color: white;
  padding: 4px;
  border-radius: 5px;
}
.work{
  padding: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.work > i {
  background-color: #62b68a;
  border-radius: 50%;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
}
.work > div {
  margin-right: auto;
  margin-bottom: 30px;

}
.work > div > span:nth-of-type(1) {
  font-size: 30px;
  font-weight: 700;
  color: #62b68a;
  margin-right: 10px;
}
.work > div > span:nth-of-type(2) {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.work > p:nth-of-type(1) {
  font-weight: 550;
  margin-bottom: 10px;
}
.work > p:nth-of-type(2) {
  line-height: 25px;
  margin-right: 10px;
}
.right > div:nth-of-type(4) > div {
  opacity: 0;
}
.item2 > div:nth-of-type(1) {
  margin-top: 0px;
}
.item2 > div:nth-of-type(2) {
  margin-top: 30px;
}
.item2 > div:nth-of-type(2) >a {
  background-color: #62b68a;
  color: #ffffff;
  padding: 20px 10px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.item2 > div:nth-of-type(2) >a:hover {
  background-color: #333333;
  color: #1877F2;
  padding: 22px 12px;
}
.item2 > img {
  width: 100%;
}
.item2 h1 {
  font-size: 30px;
  font-weight: 300;
}
.item2 p {
  color: #62b68a;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  .item1, .item3 {
    display: flex;
    height: auto;
  }
  .item1{
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
  }
  .item2 {
    height: 520px;
  }
  .right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .wrapper .icon {
    width: 20px;
    height: 20px;
  }
  .item1 .wrapper p {
    font-size: small;
  }
  .about-me2 {
    padding: 30px 20px 0px 30px;
  }
  .about-me2 > div {
    margin-bottom: 10px;
  }
  .wrapper > a:nth-of-type(1) {
    display: none;
  }
}